<% provide(:title, 'Sign up') %>
<% provide(:heading, 'Sign up') %>
<div class="row">
  <div class="pagination">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :account, "Account number" %>
        <%= f.number_field :account %>

        <%= f.label :cash , "Current cash balance"%>
        <%= f.number_field :cash %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
        <p>
        <%= f.submit "Create my account", class: "btn" %>
        </p>
    <% end %>
  </div>
</div>
